body {
  background-color: #000000;
  opacity: 0.9;
}

h3 {
  background-color: #003FD1;
  color: #FFFFFF;
}

input[type="button"], button {
  color: white;
  background-color: #424242;
  border-color: #616161;
  box-shadow: 0px 0px 5px #000000;
  width: auto;
}

input[type=number], input[type=text] {
  color: white;
  /*background-color: #000000;*/
  background-color: #212121;
  /*border-color: #303030;*/
  border-bottom: 1px solid #A9A9A9;
}

.itemCard {
  background-color: #212121;
  box-shadow: 0px 0px 10px #212121;
  color: white;
}

.itemPricePerUnitsPlaceholder {
  color: #A9A9A9; /* Should be the same color as the default placeholder color. */
}
