@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*@font-face {
  font-family: "Noto Sans";
  src: local("Noto Sans"),
    url("/noto_sans/NotoSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "Noto Sans";
  src: local("Noto Sans"),
    url("/noto_sans/NotoSans-Italic-VariableFont_wdth\,wght.ttf");
  font-style: italic;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*/

body {
  font-family: Inter, "Noto Sans", "open sans", Helvetica, Aptos, arial, sans-serif;
  color: white;
  margin: 0;
  background-color: #000000;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.05rem;
}

h1 {
  font-size: 1.3rem;
  padding: 0.4rem;
  margin: 0px;
  background-color: #012169;
  color: #ffffff;
  font-weight: normal;
  text-align: center;
}

main {
  padding: 0.2rem;
  max-width: 69rem;
  margin-left: auto;
  margin-right: auto;
}

.navigation_menu {
  background-color: #003fd1;
}

ul {
  /* remove formatting from unformatted lists so my links can be put into a navigation bar */
  list-style-type: none;
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
  padding: 0.5rem 0.3rem 0.5rem 0.3rem;
}

a {
  color: #0085f3;
}

ul a {
  text-decoration: none;
  /* There are line breaks between the li that HTML treats as significant. Don't underline that whitespace. */
}

a li {
  text-decoration: underline;
  /* Do underline text within li items since they're links. */
  color: white;
}

li:hover {
  background-color: #001a57;
}

.content {
  clear: both;
  margin: 0 10px 0 10px;
}

img {
  height: 0.8em;
  /*filter: invert(1);*/
  position: relative;
  top: 0.1em;
  left: 0.2em;
}

input,
select {
  width: auto;
  border: 1px solid #696969;
  background-color: #1d1d1d;
  color: white;
  height: 1.2rem;
}

input:focus,
select:focus {
  border: 1px solid lightgray;
  background-color: #2d2d2d;
  outline: 0;
}

/* Firefox - prevent number buttons/spinners */
input[type="number"] {
  appearance: textfield;
}

/* Webkit - prevent number buttons/spinners */
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

label {
  height: 1.4em;
}
