h3 {
  font-size: 3rem;
}

button {
  height: 1em;
  min-width: 0;
  max-width 2em;
  vertical-align: 15%;
}

.itemLabel, .price, .units, .itemPricePerUnits, .itemName, .quantity, .unitsName {
  width: 22%;
}
