h3 {
  font-size: 3.25rem;
  padding: 1rem;
  margin: 0px;
  background-color: #003FD1;
  color: #FFFFFF;
  font-weight: normal;
  vertical-align: top;
}

button {
  height: 1em;
  min-width: 0;
}

.itemLabel, .price, .units, .itemPricePerUnits, .itemName, .quantity, .unitsName {
  width: 22%;
}

.itemSecondRowDiv {

}