h3 {
  font-size: .8em;
}

button {
  height: 1em;
  min-width: 0;
}

.itemLabel, .price, .units, .itemPricePerUnits, .itemName, .quantity, .unitsName {
  width: 20%;
}

.itemSecondRowDiv {
  height: 90px;
}