html * { /* Hack to disable Chrome font boosting. Breaks small screen emulation in desktop Chrome. */
  max-height:1000000px;
  transition: 1s;
  transition-property: linear;
}

body {
  font-family: "open sans", Verdana, arial, sans-serif;
  background-color: #F0F0F0;
  max-width: 70rem;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

h3 {
  font-size: 3.25rem;
  padding: 1rem;
  margin: 0px;
  background-color: #003FD1;
  color: #FFFFFF;
  font-weight: normal;
  vertical-align: top;
}

/*.transition {
  transition: height 1s;
  will-change: transition;
}*/

.unitPriceComparisonIcon {
  height: 1.5em;
  vertical-align: bottom;
}

.multiplicationSign, .expandCollapseArrow {
  height: 4rem;
  vertical-align: -15%;
  padding: 1px;
}

.addRowImg, .removeRowImg {
  padding: 1px;
  width: 0.7em;
  vertical-align: 0%;
}

.removeCardButton {
  margin-right: 1rem;
}

button {
  height: 5rem;
  min-width: 6rem;
}

.buttonsSpan {
  float:right;
}

.itemCard {
  box-shadow: 0px 0px 10px #000000;
  margin: 0.7rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #FFFFFF;
  padding: 0.5rem;
}

.itemFirstRowDiv, .itemSecondRowDiv {
  text-align: center;
}

:placeholder-shown, input, button, .itemPricePerUnits {
  font-size: 3rem;
  text-align: center;
}

input, .itemPricePerUnits, .itemLabel {
  width: 25%;
  margin: 0.7rem;
}

.itemLabel {
  font-size: 2.7rem;
}

input {
  border-width: 0px;
  border-bottom: 2px solid;
  border-color: #7C7C7C;
}

.itemPricePerUnits {
  display: inline-block;
}

.highlightedPricePerUnits {
  background-color: #1ECF7A;
}

.itemPricePerUnitsPlaceholder {
  color: #A9A9A9; /* Should be the same color as the default placeholder color. */
}

.itemName, .quantity, .unitsName {
  width: 30%;
}

.hidden {
	height: 0px;
}
