body {
  background-color: #F0F0F0;
}

h3 {
  background-color: #003FD1;
  color: #FFFFFF;
}

.itemCard {
  box-shadow: 0px 0px 10px #000000;
  background-color: #FFFFFF;
}

input {
  border-color: #7C7C7C;
}

.itemPricePerUnitsPlaceholder {
  color: #A9A9A9; /* Should be the same color as the default placeholder color. */
}
