main {
  font-size: 0.8rem;
  max-width: 95%;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0.5rem;
}
