main {
  font-size: 0.9rem;
  max-width: 95%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}
