/* Tip calculator website. Copyright © Paul Koepke, 2014 */

/*	desktop site css. Mobile is below after the media query, followed by some overrides that apply when the device height is too small
	to make the site fit better on phones in landscape orientation */ 

@media only screen and (min-device-width: 768px) {

	* {
		text-align:center;
		font-family:Verdana,sans-serif;
	}

	/* .box_round taken from http://stackoverflow.com/questions/3607999/how-to-create-a-rounded-corner-background-box-using-css */
	.box_round {
		border-radius: 60px;
		background-color:#C1F0F6;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
/*		background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); */
		background: linear-gradient(150deg, #87e0fd, #05abe0);
		width:80%; max-width:30em; min-width:15em;
		margin-left:auto;
		margin-right:auto;
		padding:.5em;
	}

	h1{
		font-size:1.7em;
		font-family:Georgia;
	}

	p {
		font-size:0.9em;
	}

	p input[type="number"] {
		font-size:1em; 
		width:6em; height:2.2em;
		min-width:1.2em; min-height:1.2em;
		padding-left:1em;
	}

	input[type="button"] {
		font-size:1em;
		height:2.5em;
		width:4em;
		margin:.5em;
	}

	input.calculate_tip_button  {
		font-size:1em;
		width:15em;
		height:2.2em;
	}

}

/* Mobile site css. For tablets and phones in portrait mode. */ 

@media only screen and (max-device-width: 767.99999px) {
		
	* {
		text-align:center;
		font-family:Verdana,sans-serif;
	}

	.box_round {
		border-radius: 60px; 
		background-color:#C1F0F6;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
		background: linear-gradient(150deg, #87e0fd, #05abe0);
		width:85%;
		margin-left:auto;
		margin-right:auto;
		padding:.4em;
	}

	h1{
		font-size:4em;
		font-family:Georgia;
	}

	p {
		font-size:3em;
	}

	input[type="number"] {
		font-family:Helvetica,Arial,sans-serif; font-size:1em;
		width:5.2em; height:1.2em;
		min-width:5.2em; min-height:1.2em;
		padding-left:1em;
	}

	input[type="button"] {
		font-size:0.8em;
		width:3.9em; height:3em;
		margin-bottom:.4em;
		/*	margin-right:0.05em;
		margin-left:0.05em; */
	}

	input.calculate_tip_button  {
		width:16em; height:3em;
	}

}

/*	Mobile site CSS for phones in landscape orientation. Basically sets a minimum device height, under which the text will get compressed.
	Still uses the mobile CSS but overrides some of it. 

@media only screen and (max-device-height: 400) {
	
	.box_round {
		width:55%;
		padding:.4em;
	}
	
	h1{
		font-size:2em;
	}

	p {
		font-size:1em;
	}

	input[type="number"] {
		font-family:Helvetica,Arial,sans-serif; font-size:1em;
		width:5.2em; height:1.2em;
		min-width:5.2em; min-height:1.2em;
		padding-left:1em;
	}

	input[type="button"] {
		font-size:0.8em;
		width:3.9em; height:3em;
		margin-bottom:.4em;
	}
	
} */