body {
  background-color: #000000;
  opacity: .9;
}
.card {
  background-color: #212121;
  box-shadow: 0px 0px 10px #212121;
  color: white;
}

input[type="button"] {
  color: white;
  background-color: #424242;
  border-color: #616161;
}

input[type=number], input[type=text] {
  color: white;
  background-color: #000000;
  border-color: #424242;
}
