#everythingCard {
  max-width: none;
}

h1 {
  font-size: 5em;
}

p {
  font-size: 3em;
  margin: 0.5em;
}

input[type=number] {
  margin-bottom: 0.4em;
  font-size: 1em;
  width:5.2em;
}

#dollarSignSpan {
  position: relative;
  left:0.6em;
}

input[type="button"] {
  font-size: 0.9em;
  margin: 0.1em;
}

/*#output {
  line-height: 1em;
}*/
