* {
  transition: 1s;
}

body {
  font-family: "open sans", Verdana, arial, sans-serif;
  background-color: #F0F0F0;
  max-width: 70rem;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}

.contentCard {
  background-color: #FFFFFF;
  display: block;
  height: 60rem;
  width: 95%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  padding: 0.5rem;
  box-shadow: 0px 0px 10px #000000;
  position: relative; /* had to do this so buttons could be positioned absolute to this div */
}

h3 {
  font-size: 3.25rem;
  padding: 1rem;
  margin: 0px;
  background-color: #003FD1;
  color: #FFFFFF;
  font-weight: normal;
  vertical-align: top;
}

.unitPriceComparisonIcon {
  height: 1.2em;
  vertical-align: bottom;
}

p {
  font-size: 3.5rem;
  margin: 0.5em;
}

#dollarSignSpan {
  position: relative;
  left:0.6em;
}

#billAmount {
  text-align: center;
}

#tipPercent {
  text-align: center;
}

#tipPercentAfter{
  font-size:0.9em
}

input[type=number] {
  margin-bottom: 0.4em;
  font-size: 1em;
  width:5.2em;
}

input[type="button"] {
  font-size: 2rem;
  padding: 0.6rem;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  position: absolute;
  right: 8px;
  top: 0;
}

#tenPercentTipButton {
  top: 4rem;
}

#fifteenPercentTipButton {
  top: 8rem;
}

#twentyPercentTipButton {
  top: 12rem;
}

#twentyfivePercentTipButton {
  top: 12rem;
  right: 6.5rem;
}

#twentyPercentRoundedUpTipButton {
  top: 16rem;
  width: 15rem;
  white-space: normal;
}

#calculateTipButton {
  top: 16rem;
  right: 16rem;
  width: 15rem;
  white-space: normal;
}

#output {
  margin-top: 7rem;
}