#everythingCard {
  max-width: none;
}

h1 {
  font-size: 6em;
}

p {
  font-size: 3em;
  margin: 0.5em;
}

input[type=number] {
  margin-bottom: 0.4em;
  font-size: 1em;
  width:5.2em;
}

#dollarSignSpan {
  position: relative;
  left:0.6em;
}

input[type="button"] {
  font-size: 1.1em;
  margin: 0.1em;
  margin-top: 0.3em;
  martin-bottom: 0.3em;
}
