#everythingCard {
  max-width: none;
}

h1 {
  font-size: 5em;
}

p {
  font-size: 4em;
}

input[type=number] {
  margin-bottom: 0.4em;
  font-size: 1em;
  width:5.2em;
}

input[type="button"] {
  font-size: 1.7em;
}
