 {
	font-family: 'open sans', Verdana, arial, sans-serif;
	color:#444;
	margin: 0;
	background-color: #F6F6F6;
}

.contentDiv {
	margin-left: auto;
	margin-right: auto;
	max-width: 70rem;
	background-color: #FAFAFA;
}

h1 {
	font-size: 2.2rem;
	font-family: 'open sans', sans-serif;
	margin-top: 0;
	margin-left: 2px;
	margin: 0 10px 0 10px;
	/*color: #00C2F2; */ /* was #00B7E5 */ /* also liked 00CCFF but that wasn't good for links */
}

ul { /* remove formatting from unformatted lists so my links can be put into a navigation bar */
	list-style-type: none;
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
  padding: 0.5rem 0.3rem 0.5rem 0.3rem; /* top right bottom left*/
}

li:hover {
    /*background-color:#000;*/
		background-color:#001A57;
}

.content {
  clear: both;
	margin: 0 10px 0 10px;
	display:flex;
	flex-direction:column;
}

.twitter-timeline-div{
	text-align: center;
}

input {
	width: auto;
	border: 1px solid black;
}
