body,
input {
  font-size: 1.2rem;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 0 0;
}

input {
  height: 2.7rem;
  vertical-align: middle;
  margin: 0.25rem 0.25rem 0.25rem 0.25rem;
}

input[type="button"] {
  height: 3rem;
  width: 4rem;
  vertical-align: top;
}
