* {
	font-family: Verdana,sans-serif;
	font-size: 1.5em;
}

.everything {
	height: 100%;
}

img {
	width: 90%;
	max-width: 1024px;
	/* height: 100%; */
}

@media only screen and (min-device-width: 1024px) {
	
	* {
		font-size: 1.1em;
	}
	
}